.hero{
  min-height: 530px;
  margin-bottom: 110px;
  padding-top: 120px;

  &__inner{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
  }
  &__body{
    max-width: 570px;
    margin-top: 80px;
  }
  &__title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 40px;
    line-height: 1.1;
  }
  &__descr{
    color: #fff;
    line-height: 1.3;
  }
  &__widget{

  }
}