.e-collector{
  background-color: #edf3ff;

  &__inner{
    position: relative;
    padding: 40px 0 80px;

    @media @min-md{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 -25px;
      padding: 40px 0;
    }
  }

  &__item{
    position: relative;
    margin: 0 25px;

    &:nth-child(1){
      max-width: 500px;
      margin: 0 auto 30px;
      text-align: center;
      z-index: 2;
    }

    &:nth-child(2){
      max-width: 360px;
      margin: 0 auto;
      z-index: 2;
    }

    &:nth-child(3){
      position: absolute;
      top: 50%;
      left: 30px;
      margin: 0;
      transform: translateY(-50%) scale(2);
      opacity: 0.3;
      z-index: 1;
    }

    @media @min-md {
      padding: 0 25px;

      &:nth-child(1){
        order: 2;
        max-width: none;
        margin-bottom: 0;
        text-align: left;
      }
      &:nth-child(2) {
        order: 3;
        flex: 0 0 320px;
      }
      &:nth-child(3) {
        position: relative;
        top: auto;
        left: auto;
        order: 1;
        transform: none;
        opacity: 1;
      }
    }
  }

  &__img{
    .icon-svg{
      max-width: 155px;
      fill: #c6d4fd;
    }
  }

  &__descr{
    color: #474747;
    font-family: @ave-bold;
    font-size: 30px;
  }

  //custom styles
  #widget-email-collector {
    padding: 0;
    background: none;
    .place-title{
      display: none;
    }

    .collector-select-container{
      height: 48px;
      margin-bottom: 0;
      border-radius: 6px;

      &:after{
        top: 2px;
        height: 100% !important;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI3LjJweCIgaGVpZ2h0PSIxNC40cHgiIHZpZXdCb3g9IjAgMCA3LjIgMTQuNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNy4yIDE0LjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggaWQ9ItCc0L3QvtCz0L7Rg9Cz0L7Qu9GM0L3QuNC6XzFf0LrQvtC/0LjRjyIgZmlsbD0iIzFGMkIzRiIgZD0iTTMuNiwwTDAsNS40aDcuMkwzLjYsMHoiLz4NCjxwYXRoIGlkPSLQnNC90L7Qs9C+0YPQs9C+0LvRjNC90LjQul8xX9C60L7Qv9C40Y9fMV8iIGZpbGw9IiMxRjJCM0YiIGQ9Ik0zLjYsMTQuNEw3LjIsOUwwLDlMMy42LDE0LjR6Ii8+DQo8L3N2Zz4NCg==');
      }

      select{
        height: 100% !important;
        padding: 8px 20px !important;
        font-family: @ave-med !important;
        font-size: 15px !important;
        color: #000;
      }

    }

    input[type="text"]{
      height: 48px !important;
      margin-bottom: 0 !important;
      border-radius: 6px !important;
      padding: 8px 20px !important;
      font-size: 15px !important;
      color: #000 !important;
    }

    .collector-continue-btn{
      height: 50px !important;
      padding: 0 20px !important;
      background-color: @green !important;
      border-radius: 6px !important;
      color: #fafafa !important;
      font-family: @ave-med !important;
      font-size: 20px !important;
    }
  }
}

