.e-collector{
  background-color: #edf3ff;

  &__inner{
    position: relative;
    padding: 40px 0 50px;

    @media @min-smx{
      padding: 40px 0 60px;
    }

    @media @min-md{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 -25px;
      padding: 40px 0;
    }
  }

  &__item{
    position: relative;
    margin: 0 25px;

    &:nth-child(1){
      max-width: 500px;
      margin: 0 auto 30px;
      text-align: center;
      z-index: 2;
    }

    &:nth-child(2){
      max-width: 360px;
      margin: 0 auto;
      z-index: 2;
    }

    &:nth-child(3){
      position: absolute;
      top: 50%;
      left: 30px;
      margin: 0;
      transform: translateY(-50%) scale(2);
      opacity: 0.3;
      z-index: 1;
    }

    @media @min-md {
      padding: 0 25px;

      &:nth-child(1){
        order: 2;
        max-width: none;
        margin-bottom: 0;
        text-align: left;
      }
      &:nth-child(2) {
        order: 3;
        flex: 0 0 320px;
      }
      &:nth-child(3) {
        position: relative;
        top: auto;
        left: auto;
        order: 1;
        transform: none;
        opacity: 1;
      }
    }
  }

  &__img{
    .icon-svg{
      max-width: 155px;
      fill: #c6d4fd;
    }
  }

  &__descr{
    color: #474747;
    font-family: @ave-bold;
    font-size: 30px;
  }

  //custom styles
  #widget-email-collector {
    padding: 0;
    background: none;
    .place-title{
      display: none;
    }

    .collector-select-container{
      height: 48px;
      margin-bottom: 0;
      border-radius: 6px;
      overflow: visible;

      &:after{
        content: none;
      }

      select{
        height: 100% !important;
        padding: 8px 20px !important;
        font-family: @ave-med !important;
        font-size: 15px !important;
        color: #000;
      }

    }

    input[type="text"]{
      height: 48px !important;
      margin-bottom: 0 !important;
      border-radius: 6px !important;
      padding: 8px 20px !important;
      font-size: 15px !important;
      color: #000 !important;
    }

    .collector-continue-btn{
      height: 50px !important;
      padding: 0 20px !important;
      background-color: @green !important;
      border-radius: 6px !important;
      color: #fafafa !important;
      font-family: @ave-med !important;
      font-size: 20px !important;
    }
  }
}

.e-collector_row{
  position: relative;
  &.e-collector_green {
    background-color: @green;

    .e-collector__descr{
      color: #fff;
      background: @green;
    }
  }

  & > .center{
    position: relative;
    z-index: 2;
  }

  .e-collector__bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      opacity: 0.5;
      height: 150px;
      background-image: url(img/file-pencil.svg);
      background-repeat: repeat-x;
      overflow: hidden;
    }
    &:before {
      top: 0;
      margin: -20px 0 0 0;
      background-size: 190px 150px;
    }
    &:after{
      bottom: 0;
      margin: 0 0 -20px 0;
      background-size: 190px 150px;
      transform: translate(90px, 0);
    }
  }

  .e-collector__inner{
    @media @min-smx{
      padding: 40px 0;
    }

    @media @min-md{
      display: block;
      max-width: 900px;
      margin: 0 auto;
      padding: 50px 0;
    }
  }

  .e-collector__descr{
    text-align: center;
    margin-bottom: 30px;
  }

  .e-collector__item{
    &:nth-child(1){
      max-width: none;
      margin: 0 auto 30px;
      z-index: auto;
    }

    &:nth-child(2){
      max-width: none;
      margin: 0 auto;
      z-index: auto;
    }
  }

  #widget-email-collector{
    form{
      max-width: 500px;
      width: 100%;
      margin: 0 auto;

      @media @min-md{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        max-width: none;
      }
    }

    .form-group{
      margin-bottom: 15px;
      @media @min-md{
        flex: 0 1 320px;
        margin-right: 20px;
      }
    }

    .collector-select-container{
      position: relative;
      overflow: visible;
    }

    #collectorform-email{
      height: 50px !important;
    }
    .collector-continue-btn{
      flex: 0 1 220px;
      margin: 0;
      background-color: #ff5337 !important;
    }
  }
}

.e-collector_mod{
  border-radius: 10px;
  box-shadow: 8.9px 9.5px 9px rgba(0, 0, 0, 0.07);

  .e-collector__bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: auto;
      left: auto;
      bottom: 10px;
      width: 160px;
      height: 160px;
      background-image: url(img/tools.svg);
      background-repeat: no-repeat;
      background-size: 160px;
      overflow: hidden;
      opacity: 0.5;

      @media @min-sm{
        width: 200px;
        height: 200px;
        background-size: 200px;
      }
    }
    &:before {
      top: 0;
      margin: 0;
      transform: translateX(-20%);

      @media @min-sm{
        top: auto;
      }
    }
    &:after{
      right: 0;
      margin: 0;
      transform: translateX(50%);
    }
  }
}

.e-collector{

  .select2-container {
    &.select2-container--default {
      width: 100% !important;
    }

    .select2-selection--single{
      height: 50px;
      border-radius: 6px;
      border: none;

      .select2-selection__arrow{
        top: 12px;
        right: 10px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI3LjJweCIgaGVpZ2h0PSIxNC40cHgiIHZpZXdCb3g9IjAgMCA3LjIgMTQuNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNy4yIDE0LjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggaWQ9ItCc0L3QvtCz0L7Rg9Cz0L7Qu9GM0L3QuNC6XzFf0LrQvtC/0LjRjyIgZmlsbD0iIzFGMkIzRiIgZD0iTTMuNiwwTDAsNS40aDcuMkwzLjYsMHoiLz4NCjxwYXRoIGlkPSLQnNC90L7Qs9C+0YPQs9C+0LvRjNC90LjQul8xX9C60L7Qv9C40Y9fMV8iIGZpbGw9IiMxRjJCM0YiIGQ9Ik0zLjYsMTQuNEw3LjIsOUwwLDlMMy42LDE0LjR6Ii8+DQo8L3N2Zz4NCg==');
        background-repeat: no-repeat;
        background-position: center;
        b{
          display: none;
        }
      }

      .select2-selection__rendered{
        height: 100%;
        padding: 17px 15px;
        line-height: 1;
      }
    }
  }

  .select2-dropdown.select2-dropdown--above{
    top: -3px;
  }

  .select2-dropdown.select2-dropdown--below {
    top: 3px;
  }

  .select2-dropdown.select2-dropdown--above,
  .select2-dropdown.select2-dropdown--below{
    width: auto !important;
    left: 0 !important;
    right: 0;
  }

  .select2-search__field{
    height: 42px;
    font-size: 16px;
    @media @min-sm{
      height: auto;
      font-size: 14px;
    }
  }

  .select2-results__option{
    padding: 10px 6px;
    @media  @min-sm{
      padding: 6px;
    }
  }

  .form-group{
    margin-bottom: 15px;
  }
}

.e-collector-wrap{
  padding: 50px 0;

  @media @min-sm{
    padding: 70px 0;
  }
}