.support-items{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;

  @media @min-lg{
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  @media @min-md{
    padding-bottom: 10px;
  }
}

.support-item{
  padding: 0 20px;
  height: 100%;

  &:nth-child(1){
    order: 2;
    text-align: right;
    flex: 0 0 50%;
    @media @min-lg {
      order: initial;
    }
  }

  &:nth-child(2){
    order: 1;
    margin: 0 auto 20px;
    flex: 1 0 100%;
    text-align: center;
    img{
      max-width: 360px;
    }
    @media @min-lg {
      order: initial;
      margin: 0 40px;
    }
  }

  &:nth-child(3){
    order: 3;
    text-align: left;
    flex: 0 0 50%;
    @media @min-lg{
      order: initial;
      //text-align: right;
    }
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3){
    @media @min-lg{
      flex: 1 0 370px;
    }
  }
}

.support{
  &__title{
    margin-bottom: 20px;
    font-size: 56px;
    line-height: 1;
    color: #df543b;
  }

  &__subtitle{
    margin-bottom: 10px;
    color: @text_dark;
    line-height: 1.4;
    text-transform: uppercase;

    span{
      @media @min-md{
        display: block;
      }
    }
  }

  &__descr{
    color: @text_dark;
  }
}