.btn{
  display: inline-block;
  max-width: 240px;
  width: 100%;
  padding: 17px 20px;
  background-color: @green;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  &_red{
    background-color: @red;
  }
}

.btn-wrap{
  margin: 35px auto 0;
  text-align: center;
}