/* ----------------------------------------------------------------------
   LAYOUT
   ---------------------------------------------------------------------- */

// if you need 2-columns layout (with sidebar)

//
//.page-content{
//  @media @min-lg{
//    flex: 1;
//  }
//}
//
//.page-sidebar{
//  display: block;
//  padding-top: 30px;
//
//  @media @min-lg{
//    margin-left: 30px;
//    padding-top: 40px;
//  }
//}
//
//.page-footer{}
//
//.main{}

.page-container{


  @media @min-lg{
    flex: 1;
  }

  &_pad_top{
    padding-top: 60px;

    @media @min-md{
      padding-top: 90px;
    }
  }

  //@media @min-lg {
  //  display: flex;
  //  flex-flow: row-reverse wrap;
  //  justify-content: space-between;
  //}
}

.section{
  position: relative;
  padding: 40px 0;

  .padding(@min-md, 50px, 0);

  .padding(@min-lg, 80px, 0);

  &_sm{
    .padding(@min-md, 40px, 0);
  }

  &_no_pad{
    padding: 0;
  }

  &_no_pad_bottom{
    padding-bottom: 0;
  }

  &_pad{
    padding: 50px;
  }

  &_gray_bg{
    background-color: #edf3ff;
    border-radius: 10px;
  }
}

.section-cols{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-col{
  flex: 1 1 50%;
}

.center{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  .padding(@max-xs, 0, 10px);
}


